/* CSS Document */
body{
background:#FFFFFF;/*粉色最底部背景*/
padding:0;
font-family:"宋体";
font-size:12px;
margin:0px auto auto auto;
color:#990033;/*紫红色*/
}
p{
padding:2px;
margin:0px;
}
#main_container{
width:1400px;
height:auto;
margin:auto;
padding:0px;
background-color:#FFDDFF;/*淡粉色网页整体背景*/
}



#header{
width:1400px;
height:auto;
background-color:#FFC6AA;/*偏橘色的粉色头部颜色*/
background-position:0px 0px;
margin:auto;
}
#top_right{
width:1000px;
float:right;
text-align:right;
padding-right:50px;
}
#top_right span{
padding-left:10px;
padding-right:10px;
font-size:18px;
}
#big-banner{
padding-top:15px;
}
#logo{
padding:20px 0 0 80px;
}

#main_content{
clear:both;
}
#menu_tab{
width:1400px;
height:40px;
background:#FFCCFF;
}
ul.menu{
list-style-type:none;
float:left;
display:block;
width:1400px;
margin:0px;
padding:0px;
}
ul.menu li{
display:inline;
font-size:16px;
font-weight:bold;
line-height:36px;
padding:0 10px 0 45px;
}

a.nav:link,a.nav:visited{
text-decoration:none;
text-align:center;
color:#832003;/*棕红色*/
}
a.nav:hover{
text-decoration:none;
text-align:center;
color:#FF6262;/*西瓜红色*/
}



#left_content{
width:200px;
height:1400px;
float:left;
padding:0 0 0 px;
background:#FFFFCC;/*左边底色*/
}
.title_box{
width:200px;
height:30px;
margin:0 0 0 0;
background:url(1.3.png) no-repeat center;
font-size:16px;
font-weight:bold;
color:#440000;/*黑红色*/
line-height:30px;
text-align:center;
}
ul.left_menu{
font-size:14px;
width:200px;
padding:0px;
margin:0px;
list-style:none;
}
ul.left_menu{
margin:0px;
list-style:none;
}
ul.left_menu a{
width:186px;
height:25px;
display:block;
border-bottom:1px #FF9966 dashed;
background-color:#FFDCB9;
text-decoration:none;
color:#832003;/*棕红色*/
padding:0 0 0 14px;
line-height:25px;
}
ul.left_menu li.even a:hover,ul.left_menu li.odd a:hover{
color:#FF6262;/*西瓜红色*/
text-decoration:underline;
}

.border_box{
width:180px;
height:auto;
text-align:center;
}
.product_title{
padding:10px 0px 5px 0;
text-align:center;
}
.product_img{
padding:5px 0 5px 0;
}
.prod_price{
padding:5px 0 5px 0;
}
span.reduce{
color:#999999;/*灰色*/
text-decoration:line-through;
}
span.price{
color::#990033;/*紫红色*/
}
.product_title a{
text-decoration:none;
color:#990033;/*紫红色*/
border:none;
}
.product_title a:hover{
color:#FF6262;/*西瓜红色*/
}

input.newsletter_input{
width:150px;
height:16px;
border:1px #000000 solid;
margin:10px 0 5px 0;
font-size:12px;
padding:3px;
color:#990033;/*紫红色*/
}
a.join{
width:30px;
display:block;
margin:0 0 5px 110px;
padding:2px 8px 6px 8px;
text-decoration:underline;
border:1px #000000 solid;
background:#CC99CC;/*按钮*/
color:#990033;/*紫红色*/
}
.banner_adds{
width:180px;
text-align:center;
padding:10px 0 10px 0;
}



#center_content{
width:1175px;
background:#FFDDCE;
float:left;
padding:5px 10px 5px 15px;
}
.oferta{
width:700px;
height:156px;
background::url(1.6.png) /*no-repeat*/ ;
float:left;
padding:0px;
margin:0 20px 5px 120px;
}
.center_title_bar{
width:1140px;
height:35px;
float:left;
padding:0 0 0 30px;
line-height:35px;
font-size:14px;
color:#440000;/*黑红色*/
font-weight:bold;
background:url(1.3.png);
}

.prod_box{
width:230px;
height:auto;
float:left;
padding:15px 100px 15px 50px;
}
.center_prod_box{
width:200px;
height:auto;
float:left;
text-align:center;
padding:0px;
margin:0px;
border:1px #FF9966 solid;
background-color:#FFDCB9;
}
.product_img{
padding:5px 0 5px 0px;
}
.prod_details_tab{
width:173px;
height:31px;
float:left;
margin:3px 0 0 0;
}
a.prod_buy{
width:75px;
height:25px;
display:block;
float:left;
background:#CC99CC;/*按钮*/
margin:2px 0 0 15px;
text-align:center;
line-height:24px;
text-decoration:none;
color:#990033;/*紫红色*/
}
a.prod_details{
width:75px;
height:25px;
display:block;
float:left;
background:#CC99CC;/*按钮*/
margin:2px 0 0 8px;
text-align:center;
line-height:24px;
text-decoration:none;
color:#990033;/*紫红色*/
}



.pagonation{
width:1050px;
height:30px;
float:left;
padding:10px 0 20px 10px;
line-height:31px;
font-size:12px;
}
.pagonation ul{
margin:0;
padding:0;
text-align:right;
font-size:14px;
}
.pagonation li{
list-style-type:none;
display:inline;
padding-bottom:1px;
}
.pagonation a, .pagonation a:visited{
padding:0 5px;
border:1px #FF9966 solid;
text-decoration:none;
color:#440000;
}
.pagonation a:hover, .pagonation a:active{
border:1px #FF3300 solid;/*鼠标悬停时颜色加深*/
color:#FF6262;/*西瓜红色*/
background-color:#FFFFCC;
}

.pagonation li disablepage{
padding:0 5px;
border:1px #FF9966 solid;
color:#440000;
}
.pagonation li currentpage{
font-weight:bold;
padding:0 5px;
border:1px #FF3300 solid;/*鼠标悬停时颜色加深*/
color:#FF6262;/*西瓜红色*/
}



#footer{
width:1380px;
float:left;
height:65px;
background-color:#FFC6AA;/*偏橘色的粉色头部颜色*/
text-align:center;
padding:10px;
}

