/* CSS Document */
body{
background:#FFFFFF;/*粉色最底部背景*/
padding:0;
font-family:"宋体";
font-size:12px;
margin:0px auto auto auto;
color:#990033;/*紫红色*/
}
p{
padding:2px;
margin:0px;
}
#main_container{
width:1400px;
height:auto;
margin:auto;
padding:0px;
background-color:#FFDDFF;/*淡粉色网页整体背景*/
}



#header{
width:1400px;
height:auto;
background-color:#FFC6AA;/*偏橘色的粉色头部颜色*/
background-position:0px 0px;
margin:auto;
}
#top_right{
width:1000px;
float:right;
text-align:right;
padding-right:50px;
}
#top_right span{
padding-left:10px;
padding-right:10px;
font-size:18px;
}
#big-banner{
padding-top:15px;
}
#logo{
padding:20px 0 0 80px;
}

#main_content{
clear:both;
}
#menu_tab{
width:1400px;
height:40px;
background:#FFCCFF;
}
ul.menu{
list-style-type:none;
float:left;
display:block;
width:1400px;
margin:0px;
padding:0px;
}
ul.menu li{
display:inline;
font-size:16px;
font-weight:bold;
line-height:36px;
padding:0 10px 0 45px;
}

a.nav:link,a.nav:visited{
text-decoration:none;
text-align:center;
color:#832003;/*棕红色*/
}
a.nav:hover{
text-decoration:none;
text-align:center;
color:#FF6262;/*西瓜红色*/
}



#left_content{
width:200px;
height:1462px;
float:left;
padding:0 0 0 px;
background:#FFFFCC;/*左边底色*/
}
.title_box{
width:200px;
height:30px;
margin:0 0 0 0;
background:url(1.3.png) no-repeat center;
font-size:16px;
font-weight:bold;
color:#440000;/*黑红色*/
line-height:30px;
text-align:center;
}

.border_box{
width:180px;
height:auto;
text-align:center;
}
.product_title{
padding:10px 0px 5px 0;
text-align:center;
}
.product_img{
padding:5px 0 5px 0;
}
.prod_price{
padding:5px 0 5px 0;
}
span.reduce{
color:#999999;/*灰色*/
text-decoration:line-through;
}
span.price{
color::#990033;/*紫红色*/
}
.product_title a{
text-decoration:none;
color:#990033;/*紫红色*/
border:none;
}
.product_title a:hover{
color:#FF6262;/*西瓜红色*/
}



#center_content{
width:975px;
background:#FFDDCE;
float:left;
padding:5px 10px 5px 15px;
}
.prod_box_big{
width:1100px;
height:auto;
float:left;
padding:15px 15px 15px 15px;
}
.center_prod_box_big{
width:440px;
height:auto;
float:left;
text-align:center;
padding:0 0 10px 0;
margin:0px;
border:1px #000000 solid;
}
.product_img_big{
width:290px;
padding:10px 0 0 10px;
left:left;
}

.details_big_box{
width:630px;/*行距*/
float:left;
padding:0 0 0 15px;
text-align:left;
}
.product_title_big{
width:500px;
color:#440000;/*黑红色*/
padding:5px 0 5px 0;
font-size:20px;
background:url(1.3.png) ;
font-weight:bold;
}
.specifications{
font-size:14px;
line-height:29px;
}
.prod_price_big{
padding:5px 0 5px 0;
font-size:16px;
font-weight:bold;
}
.blue{
color:#000000;
}

.prod_compare{
width:75px;
height:24px;
display:block;
float:left;
background:#CC99CC;/*按钮*/
margin:2px 0 0 5px;
text-align:center;
line-height:24px;
text-decoration:none;
color:#990033;/*紫红色*/
}

.intro{
width:970px;
height:auto;
font-size:20px;
float:left;
text-align:left;
color:#990033;/*紫红色*/
font-weight:bold;
margin:0px;
border-bottom:1px #000000 solid;
}
.intro_title{
width:970px;
background:url(1.3.png) ;
color:#440000;/*黑红色*/
font-weight:bold;
padding:5px 0 5px 0;
font-size:20px;
}
.content_intro{
font-size:14px;
line-height:29px;
color:#990033;/*紫红色*/
font-weight:normal;
padding:10px;
}

.prod_box{
width:173px;
height:auto;
float:left;
padding:10px 50px 10px 75px;
} 
.center_prod_box{
width:200px;
height:auto;
float:left;
text-align:center;
padding:0px;
margin:0px;
border:1px #FF9966 solid;
background-color:#FFDCB9;
}
.product_img{
padding:5px 0 5px 0px;
}
.prod_details_tab{
width:173px;
height:31px;
float:left;
margin:3px 0 0 0;
}
a.prod_buy{
width:75px;
height:25px;
display:block;
float:left;
background:#CC99CC;/*按钮*/
margin:2px 0 0 15px;
text-align:center;
line-height:24px;
text-decoration:none;
color:#990033;/*紫红色*/
}
a.prod_details{
width:75px;
height:25px;
display:block;
float:left;
background:#CC99CC;/*按钮*/
margin:2px 0 0 8px;
text-align:center;
line-height:24px;
text-decoration:none;
color:#990033;/*紫红色*/
}



#right_content{
width:200px;
height:1462px;
float:left;
padding:0px;
background:#FFFFCC;/*淡黄色*/
}
.shopping_cart{
width:180px;
height:84px;
text-align:center;
}
.cart_details{
width:115px;
float:left;
padding:5px 0 0 15px;
text-align:left;
}
span.border_cart{
width:100px;
height:1px;
margin:3px 0 3px 0;
display:block;
border-top:1px #000000 dashed;
}
.cart_icon{
float:left;
padding:5px 0 0 5px;
}
a.join{
width:30px;
display:block;
margin:0 0 5px 110px;
padding:2px 8px 6px 8px;
text-decoration:underline;
border:1px #000000 solid;
background:#CC99CC;/*按钮*/
color:#990033;/*紫红色*/
}
input.newsletter_input{
width:150px;
height:16px;
border:1px #000000 solid;
margin:10px 0 5px 0;
font-size:12px;
padding:3px;
color:#990033;/*紫红色*/
}
ul.left_menu a{
width:186px;
height:25px;
display:block;
border-bottom:1px #FF9966 dashed;
background-color:#FFDCB9;
text-decoration:none;
color:#832003;/*棕红色*/
padding:0 0 0 14px;
line-height:25px;
}
ul.left_menu li.even a:hover,ul.left_menu li.odd a:hover{
color:#FF6262;/*西瓜红色*/
text-decoration:underline;
}
ul.left_menu{
font-size:14px;
width:200px;
padding:0px;
margin:0px;
list-style:none;
}
ul.left_menu{
margin:0px;
list-style:none;
}


#footer{
width:1380px;
clear:both;
height:60px;
background-color:#FFC6AA;/*偏橘色的粉色头部颜色*/
text-align:center;
padding:10px;
}


